body {
    display: none;
}

@media screen and (max-width: 700px) {
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        background-color: rgb(250, 250, 250);
    }
    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: white;
        border: 1px solid rgb(219, 219, 219);
        border-radius: 1px;
        max-width: 320px;
        min-width: 320px;
        margin-bottom: 15px;
    }
    .logo img {
        padding-top: 10px;
        margin: 35px 0;
        width: 180px;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    form div {
        position: relative;
        width: 270px;
        height: 35px;
        margin-bottom: 7px;
        border-radius: 3px;
        background-color: rgb(250, 250, 250);
        border: 1px solid rgb(219, 219, 219);
    }
    form input {
        outline: none;
        border: none;
        background-color: transparent;
        height: 100%;
        width: 100%;
        padding: 0 8px;
        font-size: 12px;
    }
    .input-b {
        border: 1px solid rgb(145, 145, 145);
    }
    .input-c {
        padding-top: 6px;
    }
    form div span {
        top: 9.5px;
        left: 8px;
        position: absolute;
        font-size: 11px;
        color: rgb(142, 142, 170);
        background-color: transparent;
        user-select: none;
    }
    .password .show-pass {
        left: 85%;
        cursor: pointer;
        display: none;
        color: rgb(61, 61, 61);
        font-weight: bold;
    }
    .small-p {
        top: 2px;
        font-size: 9px;
    }
    form button {
        margin: 7px 0;
        height: 35px;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 8px;
        background-color: rgb(4, 153, 252);
    }
    form button:hover {
        cursor: pointer;
        background-color: rgb(3, 141, 233);
    }
    .line {
        width: 270px;
        height: 1px;
        background-color: rgb(219, 219, 219);
        margin: 20px 0;
        position: relative;
    }
    .line span {
        position: absolute;
        top: -8px;
        left: 38%;
        font-size: 13px;
        background-color: white;
        border-radius: 50%;
        padding: 0 20px;
        color: rgb(142, 142, 170);
    }
    .fb {
        display: flex;
        align-items: center;
        margin: 15px 0;
        cursor: pointer;
    }
    .fb img {
        width: 18px;
        margin-right: 10px;
    }
    .fb span {
        font-size: 13px;
        color: rgb(59, 89, 152);
        font-weight: bold;
        font-family: sans-serif;
    }
    .forgot {
        margin-bottom: 10px;
        cursor: pointer;
    }
    .forgot span {
        font-size: 11px;
        color: rgb(65, 65, 65);
    }
    .signup p {
        font-size: 13px;
        color: rgb(54, 54, 54);
    }
    .signup span {
        cursor: pointer;
        font-weight: bold;
        color: rgb(0, 162, 248);
        font-family: sans-serif;
    }
}